body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container{}

.insideCard{
  margin: 100px;
  box-shadow: 0px 0px 7px 3px grey;
  border-radius: 50px;
}

label{
  padding: 10px;
  display: flex;
  justify-content: center;

}

input{
  display: flex;
  justify-content: center;
  margin-left: 10px;

}

h1{
  display: flex;
  justify-content: center;
}

